@import "scss/style.scss";

.navbar {
  padding-top: 10px;
  // height: calc(100vh - 64px);
  width: 280px;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
  border-right: none;
  color: $base-color-text;
  overflow-y: scroll;
}

/* Định dạng thanh cuộn dọc */
.navbar::-webkit-scrollbar {
  width: 10px; /* Chiều rộng của thanh cuộn */
}

.navbar::-webkit-scrollbar-thumb {
  background-color: #cecece; /* Màu nền của phần đối tượng của thanh cuộn */
  border-radius: 5px; /* Độ cong của viền đối tượng của thanh cuộn */
}

.navbar::-webkit-scrollbar-thumb:hover {
  background-color: #969696; /* Màu nền của phần đối tượng của thanh cuộn khi rê chuột hover */
}
