@import "scss/style.scss";
.add_field.active {
  color: $base-color;
  border-color: $base-color;
  background-color: rgb(241, 241, 241);
  p {
    &:first-child {
      color: red;
      font-weight: bold;
    }
  }
}

.fieldgenerate {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: max-content;
}
