@import "scss/style";

header {
  background-color: $base-color;
  //   background-color: red;
  min-height: 64px;
  color: white;

  .left_header {
    width: 300px;
    height: 64px;
    align-items: center;

    .nav {
      font-size: xx-large;
      height: 40px;
      width: 40px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
      }
      &:active {
        background-color: rgba(216, 216, 216, 0.609);
      }
    }
  }
}
