@import "scss/style";

.child {
  .menu-item {
    &:hover {
      background-color: white;
    }
  }
  .menu-item.active {
    background-color: white;
  }
}

.menu-item {
  margin-bottom: 5px;
  svg {
    height: 25px;
    width: 16px;
  }
  &:hover {
    background-color: $second-color;
    color: $base-color;
    font-weight: 500;
  }
}

.menu-item.active {
  background-color: $second-color;
  color: $base-color;
  font-weight: 500;
}
