// .ant-switch {
//   background-color: rgba(0, 0, 0, 0.45) !important;
// }

// .ant-switch-checked {
//   background-color: #4096ff !important;
// }

.ant-btn {
  display: flex;
  align-items: center;
}

.ant-modal-footer {
  display: flex !important;
  justify-content: flex-end;
}

.ant-transfer-list {
  width: 100% !important;
}

.ant-checkbox-wrapper {
  margin-left: 0px !important;
}

.ant-popconfirm-buttons {
  display: flex;
  justify-content: flex-end;
}

.do-exam {
  .ant-checkbox-wrapper {
    height: 40px !important;
  }
}

.group-question {
  .ant-radio-group {
    display: flex;
    flex-direction: column;
  }
}

.ant-upload-list {
  height: 50px;
}

/* Định dạng thanh cuộn dọc */
.scroll_view::-webkit-scrollbar {
  width: 10px; /* Chiều rộng của thanh cuộn */
}

.scroll_view::-webkit-scrollbar-thumb {
  background-color: #cecece; /* Màu nền của phần đối tượng của thanh cuộn */
  border-radius: 5px; /* Độ cong của viền đối tượng của thanh cuộn */
}

.scroll_view::-webkit-scrollbar-thumb:hover {
  background-color: #969696; /* Màu nền của phần đối tượng của thanh cuộn khi rê chuột hover */
}

.table-examframe {
  tr {
    height: 40px !important;
    // border: 1px solid red;
  }
}