.schedule {
  tr {
    height: 40px;
  }
  tr th {
    &:first-child {
      width: 9%;
    }
    background-color: rgb(45, 235, 235);
    width: 13%;
  }
  th,
  td {
    border: 1px solid rgb(181, 181, 181);
    text-align: center;
  }
}

.schedule-table {
  width: 100%;
  border-collapse: collapse;
}

.schedule-table th,
.schedule-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.schedule-table th {
  background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
  color: white;
  border: 1px solid #dee2e6;
}

.schedule-table tr th:first-child {
  background-color: red;
}

.schedule-table td {
  background-color: #fff;
  width: 12%;
}

.schedule-table tr td:first-child {
  background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
}

.schedule-table td[rowSpan] {
  background-color: #cfe2ff;
  box-shadow: inset 0 0 0 9999px transparent;
  border: 1.6px solid;
  border-color: #2fa4e7;
}

.schedule-table td[style="display: none"] {
  display: none;
}

.schedule-active {
  cursor: pointer;
  width: 100%;
}
